wrapper{
  flex-direction: column;
  
}
.wrapper div{
  height: 60px;
  border: none;
  padding: 25px;
  background-size: 50%;;
  background-position: center
  border-radius: 8px 8px;
  repeat: no-repeat;
  margin-bottom: 20px;
  justify-content: space-between;
}

.c1{
  display: flex;
  width: 99%;
  background-color: skyblue;
  
}
.c2{
  display: flex;
  width: 99%;
  background-color: #0000FF;
  
  
}
.c3{
  display: flex;
  width:99%;
  background-color: #2E8B57;
}